<table mat-table
       [dataSource]="paginatedData()"
       class="aptamer-table"
       matSort
       [matSortActive]="sortState().active"
       [matSortDirection]="sortState().direction"
       (matSortChange)="onSortChange($event)">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2">ID</th>
    <td mat-cell *matCellDef="let row">{{ row.id }}</td>
  </ng-container>

  <ng-container matColumnDef="sequence">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2">Randomized Region</th>
    <td mat-cell *matCellDef="let row" class="sequence monospace">
      @if (showPrimers()) {
        <span class="primer">{{ row.sequence | slice: 0 : row.bounds.startIndex }}</span>
      }
      @for (base of row.sequence | slice: row.bounds.startIndex : row.bounds.endIndex; track $index) {
        <span [class.nuc-a]="base === 'A'"
              [class.nuc-t]="base === 'T'"
              [class.nuc-c]="base === 'C'"
              [class.nuc-g]="base === 'G'">{{ base }}</span>
      }
      @if (showPrimers()) {
        <span class="primer">{{ row.sequence | slice: row.bounds.endIndex }}</span>
      }
    </td>
  </ng-container>

  @for (cycle of selectionCycles(); track cycle.name) {
    @let cyclePrefix = `cycle-${cycle.round}`;
    <ng-container matColumnDef="{{ cyclePrefix }}-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">
        Round nº {{ cycle.round }}, {{ cycle.name }}
      </th>
    </ng-container>

    <ng-container matColumnDef="{{ cyclePrefix }}-count">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Count</th>
      <td mat-cell *matCellDef="let row">
        {{ useCPM() ? (row.cycles[cycle.round].cpm | number) : row.cycles[cycle.round].count }}
      </td>
    </ng-container>

    <ng-container matColumnDef="{{ cyclePrefix }}-frequency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Frequency</th>
      <td mat-cell *matCellDef="let row">
        {{ row.cycles[cycle.round]?.frequency ?? 0 | number: '1.1-5' }}
      </td>
    </ng-container>

    <!-- TODO: Enrichment Column for this cycle (compared to previous cycle) -->
  }

  <tr mat-header-row *matHeaderRowDef="groupedColumns(); sticky: true"></tr>
  <tr mat-header-row *matHeaderRowDef="subcolumns(); sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: dataColumns();"
      (click)="onSelectRow(row)"
      [class.selected]="enableSelection() && selectedSequence() === row.sequence">
  </tr>
</table>

<mat-paginator [length]="rows().length"
               [pageSize]="pageSize()"
               (page)="onPageChange($event)"
               showFirstLastButtons/>
