@use '@angular/material' as mat;

.warning {
  @include mat.button-overrides((
    filled-container-color: var(--mat-sys-error),
    filled-label-text-color: var(--mat-sys-on-error),
    text-label-text-color: var(--mat-sys-on-surface),
  ));
}
