@use '@angular/material' as mat;

:host {
	display: block;
	min-height: 100vh;
}

/* Layout Styles */
.layout-container {
  height: 100vh;
  background: var(--mat-sys-surface-container);
}

.layout-sidenav {
  width: min-content;
  background: var(--mat-sys-surface-container);

  // Add padding to the drawer inner container to prevent shadows from being cut off
  ::ng-deep .mat-drawer-inner-container {
    padding: 16px;
  }
}

.layout-content {
  display: flex;
  flex-direction: column;
}

//.layout-toolbar {
//  display: flex;
//  gap: 16px;
//  padding-inline: 16px;
//}
//
//.toolbar-left {
//  display: flex;
//  align-items: center;
//  gap: 12px;
//}
//
//.toolbar-logo {
//  border-radius: 8px;
//  background: rgba(255, 255, 255, 0.15);
//  padding: 2px;
//}
//
//.toolbar-app-name {
//  font-weight: 600;
//  font-size: 18px;
//  letter-spacing: 0.02em;
//}
//
//.toolbar-search {
//  flex: 1;
//  max-width: 420px;
//  display: flex;
//  align-items: center;
//}
//
//.toolbar-search mat-form-field {
//  width: 100%;
//}
//
//.toolbar-spacer {
//  flex: 1;
//}
//
//.toolbar-actions {
//  display: flex;
//  align-items: center;
//  gap: 8px;
//}
//
//.user-button {
//  display: flex;
//  align-items: center;
//  gap: 8px;
//  text-transform: none;
//  padding-right: 8px;
//}
//
//.user-avatar {
//  border-radius: 50%;
//  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
//}

.page-content {
  flex: 1;
  padding: 24px;
  margin-block: 16px;
  margin-inline-end: 16px;
  background: var(--mat-sys-surface-bright);
  border-radius: var(--mat-sys-corner-extra-large);
}

/* Sidenav Styles */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 24px;
}

.nav-brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.layout-sidenav.collapsed .nav-brand {
  display: none;
}

.nav-toggle {
  @include mat.icon-button-overrides((
    state-layer-size: 48px, // Match the size of the button to the size of the touch target
  ));
}

.layout-sidenav.collapsed a[mat-list-item] span[matListItemTitle] {
  display: none;
}

.layout-sidenav.collapsed a[mat-list-item] {
  padding-right: 0;
}

.nav-title {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.brand {
  font-weight: 600;
  color: var(--mat-sys-on-surface);
}

.subtitle {
  font-size: 12px;
  color: var(--mat-sys-on-surface-variant);
  white-space: nowrap;
}

.sidenav-fab {
  @include mat.fab-overrides((
    container-elevation-shadow: var(--mat-sys-level0),
    extended-container-elevation-shadow: var(--mat-sys-level0),
    hover-container-elevation-shadow: var(--mat-sys-level3),
    extended-hover-container-elevation-shadow: var(--mat-sys-level3),
  ));
  margin-bottom: 8px;
}

.layout-sidenav:not(.collapsed) .sidenav-fab {
  justify-content: flex-start;

  mat-icon {
    margin-left: -4px;
    margin-right: 16px;
  }
}

.active-link {
  background: var(--mat-sys-secondary-container);
}

@media (max-width: 960px) {
  //.layout-toolbar {
  //  padding-inline: 8px;
  //}
  //
  //.toolbar-left {
  //  display: none;
  //}

  .page-content {
    padding: 16px;
    margin: 0;
    border-radius: 0;
  }
}
