@use '@angular/material' as mat;

:host {
  display: block;
}

.header-card {
  margin-bottom: 12px;
  overflow-x: auto;
}

.header-grid {
  display: flex;
  gap: 12px;
}

.header-column {
  max-width: 300px;
  flex: 0 0 auto;
}

.radio-row {
  display: flex;
  gap: 8px;
}

.items-per-page-row,
.max-items-row,
.sort-row,
.search-row {
  display: flex;
  gap: 8px;
  align-items: center;
}

.search-column {
  min-width: 420px;
}

.split-root {
  display: flex;
  gap: 16px;
}

.table-pane {
  flex: 2;
  overflow: auto;
}

.details-pane {
  flex: 1;
}

.table-card {
  flex: 1;
  overflow: auto;
}

.chart-container {
  height: 240px;
}

.not-available {
  padding: 1rem;
  color: var(--mat-color-tertiary, #666);
}

.details-pane {
  @include mat.expansion-overrides((
    container-elevation-shadow: var(--mat-sys-level0),
    container-background-color: var(--mat-sys-surface-container-lowest),
  ));

  .mat-accordion .mat-expansion-panel:first-of-type {
    border-bottom-left-radius: var(--mat-sys-corner-extra-small);
    border-bottom-right-radius: var(--mat-sys-corner-extra-small);
  }

  .mat-accordion .mat-expansion-panel:not(:first-of-type, :last-of-type) {
    border-radius: var(--mat-sys-corner-extra-small);
  }

  .mat-accordion .mat-expansion-panel:last-of-type {
    border-top-left-radius: var(--mat-sys-corner-extra-small);
    border-top-right-radius: var(--mat-sys-corner-extra-small);
  }

  .mat-accordion .mat-expansion-panel:not(:last-of-type):not(.mat-expanded) {
    margin-bottom: 2px;
  }

  .mat-expansion-panel-spacing {
    margin: 12px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
